<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gear Design</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="top-left">
        <span>Lost Saga Gear Design Scraper</span>
    </div>
    <div class="top-right">
        <select id="server-dropdown" onchange="dropdown_change()">
            {% for value, name in options.items() %}
            <option value="{{ value }}"
            {% if server == value or server.startswith("http") %} selected {% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <input type="text" id="custom-input" placeholder="Custom url">
        <button id="custom-button">Submit</button>
    </div>
    <div class="image-block">
        {% for index in keys %}
            {% if index == 'invalid' %}
            <span>Server invalid</span>
            {% else %}
            <img src="{{ url_for('gear_design_image', image_id=index) }}", alt="{{ index }}.jpg">
            {% endif %}
        {% endfor %}
    </div>
    <div class="bottom-block">
        <div class="version">
            {% if latest is none %}
            <span id="Version">{{ version }} (Cannot check latest version, check your connection)</span>
            {% elif latest %}
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Trisnox/Lost-Saga-GD-Scraper/releases/latest">{{ version }} (Update available)</a>
            {% else %}
            <span id="Version">{{ version }} (Latest version)</span>
            {% endif %}
        </div>
        <div class="bottom-center">
            <button id="first-page">«</button>
            <button id="prev-page">‹</button>
            <span id="current-page">{{ current_page }}</span>
            <button id="next-page">›</button>
            <input type="number" id="custom-page" placeholder="Jump to">
            <button id="go-to-custom">Go</button>
        </div>
        <div class="discord-link">
            <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/GJ2P6u4edG">Discord Server</a>
        </div>
    </div>
    <script>
        function dropdown_change(){
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            const current_page = document.getElementById('current-page').innerText;

            if (selected_option !== 'custom'){
                window.location.href = '/?server='+selected_option+'&index='+current_page;
            }
        }
        
        document.getElementById('go-to-custom').addEventListener('click', function(){
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            const jump_number = Number(document.getElementById('custom-page').value);

            if (jump_number !== '') {
                if (Number.isInteger(jump_number)) {
                    window.location.href = '/?server='+selected_option+'&index='+jump_number;
                } else {
                    alert('Jump input must be a number');
                }
            } else {
                alert('Jump input cannot be empty');
            }
        });

        document.getElementById('first-page').addEventListener('click', function(){
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            let current_page = document.getElementById('current-page').innerText;
            current_page = Number(current_page)

            if (current_page == 1){
                alert('You are at first page!');
            } else {
                window.location.href = '/?server='+selected_option+'&index=1';
            }
        });

        document.getElementById('prev-page').addEventListener('click', function(){
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            let current_page = document.getElementById('current-page').innerText;
            current_page = Number(current_page)

            if (current_page > 1){
                current_page--;
                window.location.href = '/?server='+selected_option+'&index='+current_page;
            } else {
                alert('You are at first page!');
            }
        });

        document.getElementById('next-page').addEventListener('click', function(){
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            let current_page = document.getElementById('current-page').innerText;

            current_page = Number(current_page)
            current_page++;
            window.location.href = '/?server='+selected_option+'&index='+current_page;
        });

        document.getElementById('custom-button').addEventListener('click', function() {
            const dropdown = document.getElementById('server-dropdown');
            const selected_option = dropdown.options[dropdown.selectedIndex].value;
            const custom_input = document.getElementById('custom-input').value;
            const current_page = document.getElementById('current-page').innerText;

            if (selected_option !== 'custom') {
                alert("This button and input box is only used if you're using custom server option");
            } else if (selected_option === 'custom') {
                if (custom_input.trim() !== '') {
                    window.location.href = '/?server='+encodeURIComponent(custom_input)+'&index='+current_page;
                } else {
                    alert('URL input cannot be empty for custom server');
                }
            } else {
                alert('Option not selected')
            }
        });
    </script>
</body>
</html>